.User {
    border-radius: 3px;
    padding: 8px;
    background: #00cbdf;
    transition: all 0.5s ease;
    min-width: 200px;
    max-width: 300px;
}

.skeleton {
    width: 300px;
    border-radius: 3px;
    background: darkgrey;
    animation: shine 1s infinite;
}

@keyframes shine {
    50% {
        background: lightgray;
    }
    100% {
        background: darkgray;
    }
}

.User h3 {
    color: rebeccapurple;
    font-size: 18px;
    margin: 0;
    transition: all 0.5s ease;
}

.User h3 span {
    margin-right: 10px;
}

.User p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.User:hover {
    cursor: pointer;
    background: #006675;
}

.User:hover h3 {
    padding-left: 10px;
    color: white;
}
